flows.json
[
    {
        "id": "e18f57042d5334a5",
        "type": "worldmap",
        "z": "30426cf5e5a2a0ae",
        "name": "",
        "lat": "35.184",
        "lon": "137.0487",
        "zoom": "13",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "2d481542733b4c06",
        "type": "inject",
        "z": "30426cf5e5a2a0ae",
        "name": "ピンを立てる処理を開始",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "293a8e2520a1c87e"
            ]
        ]
    },
    {
        "id": "293a8e2520a1c87e",
        "type": "function",
        "z": "30426cf5e5a2a0ae",
        "name": "function 1",
        "func": "msg.payload = {\n    \"name\": \"長久手市\",\n    \"lat\": 35.184,\n    \"lon\": 137.0487,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "e18f57042d5334a5"
            ]
        ]
    },
    {
        "id": "7960ab646fa754a3",
        "type": "comment",
        "z": "30426cf5e5a2a0ae",
        "name": "アクセス用URL",
        "info": "http://localhost:1880/worldmap/",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "e2ab2f8de89474e2",
        "type": "inject",
        "z": "30426cf5e5a2a0ae",
        "name": "ピンを立てる処理を開始",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "1b53621249f3aa99"
            ]
        ]
    },
    {
        "id": "fea1406a24401577",
        "type": "csv",
        "z": "30426cf5e5a2a0ae",
        "name": "CSVデータの処理",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "8f1b9fa39a19a923"
            ]
        ]
    },
    {
        "id": "a5f5905f464052c6",
        "type": "debug",
        "z": "30426cf5e5a2a0ae",
        "name": "ピンの情報（JSON）",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "53f8f48c7b7fa0e6",
        "type": "template",
        "z": "30426cf5e5a2a0ae",
        "name": "ピン情報の作成",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"name\" : \"{{payload.stop_name}}\",\n    \"lat\" : {{payload.stop_lat}} ,\n    \"lon\" : {{payload.stop_lon}}\n}",
        "output": "json",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "a5f5905f464052c6",
                "208522fa01bf043b"
            ]
        ]
    },
    {
        "id": "8f1b9fa39a19a923",
        "type": "switch",
        "z": "30426cf5e5a2a0ae",
        "name": "データが空の場合のスキップ",
        "property": "payload.stop_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "53f8f48c7b7fa0e6"
            ]
        ]
    },
    {
        "id": "208522fa01bf043b",
        "type": "worldmap",
        "z": "30426cf5e5a2a0ae",
        "name": "",
        "lat": "35.184",
        "lon": "137.0487",
        "zoom": "14",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b53621249f3aa99",
        "type": "file in",
        "z": "30426cf5e5a2a0ae",
        "name": "ファイルの読込",
        "filename": "/data/stop_utf8.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "fea1406a24401577"
            ]
        ]
    },
    {
        "id": "2373329220f1ad60",
        "type": "comment",
        "z": "30426cf5e5a2a0ae",
        "name": "ファイルのパスは要変更",
        "info": "FileノードのCSVファイルのパスは変更して使用してください。",
        "x": 450,
        "y": 300,
        "wires": []
    }
]
